doctype html
html
  head
    title!= title
  body
    .jumbotron
      h1
        != title
        | :&nbsp;
        != message

      p
        | Gist for the enterprise. Share code containing intellectual property
        | with your coworkers. Configure for Active Directory integration.
        | Control visibility. Comment and collaborate. Celebrate your victory
        | over entropy. Okay, maybe not that last one.
