---
title: "Private Snippet Sharing"
show: true
---

.jumbotron
  h1(id="top") code-splat

  p
    | The best way to safely and securely share your code snippets and other
    | document artifacts with your colleagues, with the features you need
    | and want in a snippet sharing solution. Best of all, it's open source
    | and free!

.special
  t(render="markdown")
    | - Check out the [Trello board][trello] for an up-to-date roadmap and its
    |   related discussions.
    | - API / developer documentation is available on the [project wiki][wiki].
    | - Active work items are shown in the [issues list][issues].
    | 
    | [issues]: #{site.ghSource.url}/issues
    | [trello]: #{site.project.board}
    | [wiki]: #{site.ghSource.url}/wiki
