---
title: "Private Snippet Sharing"
show: true
---

.jumbotron
  h1(id="top") code-splat

  p
    | The best way to safely and securely share your code snippets and other
    | document artifacts with your colleagues, with the features you need
    | and want in a snippet sharing solution. Best of all, it's open source
    | and free!